/*SITE COLORS

content background colors
#ed6d37: orange;
#344270: dark blue;
#d8462f: red;
#7998b2: gray.
*/

/*MAIN styles*/

body {
    font-family: Segoe UI, Segoe, Verdana, sans-serif;
    font-size: 18px;
}

header {
    background: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 1;
}

div {
    line-height: 0.8;
}

article {
    padding: 10px 40px;
    color: #fff;
}

article h1 {
    padding: 25px 0;
    font-size: 2em;
    color: #fff;
    line-height: 1;
}


h2 {
    font-size: 1.1em;
    padding-top: 20px;
    line-height: 1.5;
    font-weight: 600;
}

h3 {
    padding: 0 0 10px 5px;
    font-size: 1.3em;
    line-height: 0.7;
    font-weight: 200;
}

p {
    line-height: 1.3;
    font-weight: 200;
}

hr {
    height: 1px;
    margin-bottom: 20px;
    border: none; /* remove border for Firefox */
    background-color: #ccc; /* Firefox и Opera */
    color: #ccc; /* other browsers */
}


/* BACKGROUND styles */

.bg {
    background: no-repeat fixed;
    height: 500px;
    background-size: cover;
}

.top-bgimg {
    background-image: url(../images/girl-sun.jpg);
    padding-top: 130px;
    padding-left: 40%;
    color: #333;
    line-height: 1.2;
}

.top-bgimg h1 {
    font-size: 2.5em;
}

.phone-glance {
    background-image: url(../images/phone-glance.jpg);
}

.girl-smile {
    background-image: url(../images/girl-smile.jpg);
}

.boy-study {
    background-image: url(../images/boy-study.jpg);
}

.knit-hat {
    background-image: url(../images/knit-hat.jpg);
}

/*INPUT styles*/

button {
    cursor: pointer;
}

select {
    padding-left: 10px;
    -webkit-appearance: none;
}

input,  
select,
button[type="submit"]{
     height: 30px;
     border-radius: 3px;
     font-size: 0.7em;
}

select,
input {
    padding-left: 5px;
    border: 1px solid #ccc;
    color: #555;
}

select:focus,
input:focus,
button:focus {
    outline: none;
    border: 1px solid #EA4223;
    box-shadow: 0 0 3px #EA4223;
}

#header-button{
    position: absolute;
    right: 0;
    top: 35px;
    padding: 7px 10px;
    border-radius: 7px;
    font-size: 1em;
}

.orange-butt {
    background-color: #ed6f37;
    color: #fff;
    border: 1px solid #ed6d37;
}

.white-butt {
    background-color: #fff;
    color: #ed6f37;
    border: 1px solid #fff;
    font-weight: 600;
}

:focus::-webkit-input-placeholder {color: transparent;}
:focus::-moz-placeholder {color: transparent;}
:focus:-moz-placeholder {color: transparent;}
:focus:-ms-input-placeholder {color: transparent;}

/*OVERLAY styles*/

.status-show {
    position: fixed;
    z-index: 200;
}

.message {
    background-color: #fff;
    text-align: center;
    color: #555;
    border-radius: 7px;
    box-shadow: 0 0 20px;
}

.status-text {
    margin: 20px 50px;
    padding-top: 30px;
}

.status-text button {
    margin-top: 50px;
    padding: 7px 40px;
    border-radius: 7px;
    font-size: 1em;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
}

.black-bg {
     background-color: rgba(0,0,0,0.5); 
     z-index: 10;
}

.white-bg {
    background-color: rgba(255,255,255,0.3);
    z-index: 15;
}

.overlay-form {
    opacity: 0;
    background-color: #fff;
    position: fixed;
    width: 500px;
    top: -300px;
    left: 50%; 
    margin-left:-250px;
    padding: 10px 20px 50px;
    border-radius: 7px;
    box-shadow: 0 0 20px;
    z-index: 11;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 0.8em;
    font-weight: 800;
    color: #555;
    opacity: 0.5;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.overlay-form p {
    color: #ed6d37;
    padding-bottom: 10px;
    font-weight: 400;
}

.overlay-form input, 
.overlay-form select,
.overlay-form button{
    margin: 7px 0;
    font-size: 0.8em;
}

.overlay-form input {
    width: 100%;
}

.overlay-form select {
    margin-right: 20px;
}

.overlay-form select,
.overlay-form button{
     float: left;
     width: 240px;
}


/* HEADER styles */

.edupath-head {
    position: relative;
    width: 60%;
    height: 50px;
    margin: 0 20%;
}

.logo {
    position: absolute;
    width: 150px;
    top: 5px;
    left: 30px;
}

header h3 {
    position: absolute;
    top: 20px;
    left: 250px;
    color: #fff;
}


/*CONTENT styles*/

.edupath-form {
    background-color: rgba(255,255,255,0.9);
    width: 600px;
    margin: 10% 5%;
    padding: 30px 0 40px 30px;
    color: #ed6f37;
}

.edupath-form p {
    padding-bottom: 20px;
    font-weight: 500;
}

.edupath-form input,
.edupath-form select {
    margin-right: 5px;
}

.edupath-form input[type="text"],
.edupath-form select,
.edupath-form button {
    width: 80px;
}

.edupath-form input[type="email"],
.edupath-form input[type="tel"] {
    width: 145px;
}

.down-arrow {
    clear: both;
    text-align: center;
}

.down-arrow  a:link{
    opacity: 0.7;
}

.down-arrow  a:hover{
    opacity: 0.9;
}

/* top-section */

.top-section {
    background-color: #ed6f37; 
    height: 10%;
}

.top-section-content {
    width: 100%;
    height: 180px;
}

.col {
    width: 33.3%;
    float: left;
}

.img-phone {
    height: 80px;
    width: auto;
}

.img-clock {
    width: 120px;
    height: auto;
}

.img-man {
    width: 120px;
    height: auto;
}

/* journey */

.journey {
    background-color: #344270;
    position: relative;
}

.journey-content{
    width: 50%; 
    height: 350px;
    margin-left: 45%;
    padding-top: 50px;
}

.iphone-img{
    position: absolute;
    bottom: 0;
    left: 120px;
}

/* middle-section */

.middle-section {
    background-color: #d8462f;
}

.middle-section-content {
    float: left;
    width: 60%;
    margin-left: 20px;
    padding: 10px;
}

.seal { 
    float: left;
    padding-right: 40px;
}

.tablet-img {
    float: right; 
    width: 30%;
    margin: 40px 20px;
}

.quote {
    font-size: 0.8em;
    padding-top: 20px;
}

.quote p {
    padding-bottom: 10px;
}

/* real-helping */

.real-helping {
    background-color: #7998b2;
}

.real-helping-content {
    float: right;
    width: 50%;
    margin: 50px;
}

.video-img {
    float: left;
    width: 25%;
    margin: 80px 120px 0;

}

/* final-section */

.final-section {
    background-color: #ed6f37;
    overflow: hidden;
}

.edupath-table {
    width: 45%;
    margin: 40px 50px 0;
    float: left;
}

.edupath-table h1 {
    line-height: 1.2;
}

table {
    width: 100%;
}

td {
    padding: 5px;
}

thead td {
    height: 40px;
}

tbody td {
    border-bottom: 1px solid #ddd;    
}

.light {
    opacity: 0.6;
}

.center {
    padding-top: 5px;
    text-align: center;
}

.final-right {
    width: 45%;
    float: right;
    margin-top: 120px;
}

.final-right h3 {
    padding: 40px 0;
    font-size: 1.5em;
}

.small_img {
    height: 50px;
    padding: 0 30px;
}

.final-form:before,
.final-form:after {
    content: "";
    display: table;
}

.final-form:after {
    clear: both;
}

.final-form {
    zoom: 1;
}

.final-form input,
.final-form select,
.final-form button {
    margin-right: 5px;
}

.final-form select,
.final-form button,
.final-form input[type="text"]{
    width: 15%;
}

.final-form input[type="email"],
.final-form input[type="tel"] {
    width: 20%;
}

/* FOOTER */

footer {
    clear: both;
    background-color: #ed6f37;
    color: #fff;
}

.small-right {
    display: inline-block;
    width: 48%;
    padding-bottom: 20px;
    font-size: 0.6em;
    text-align: right;
}


/*MEDIA QUERIES & DEVICE STYLES*/

@media only screen and (max-width: 1460px) { 
    .edupath-head {
        width: 80%;
        margin: 0 10%;
    } 
    
    .seal {
        width: 100px;
        padding-right: 10px; 
    }
    
    .journey-content {
        height: auto;
    }
    
    .real-helping-content {
        margin: 30px;
    }
    
    .video-img {
        margin: 80px 50px 0;
    }
    
}

@media only screen and (max-width: 1280px) {
    body {
        font-size: 16px;
    }
    
    .logo {
        top: 2px;
    }
    
    .journey-content {
        padding-top: 0;
    }
    
    .iphone-img {
        width: 300px;
        left: 70px;
    }
    
    .final-form input[type="email"], 
    .final-form input[type="tel"] {
        width: 20%;
    }
    
}

@media only screen and (max-width: 1170px) {
    header {
        height: 50px;
    }
    
    .top-bgimg h3 {
        line-height: 1.3;
    }
    
    .bg {
        height: 400px;
    }
    
    .top-bgimg {
        padding-left: 0;
        text-align: center;
    }
    
    .top-bgimg h1 {
        font-weight: 600;
    }
    
    .edupath-form {
        margin: auto;
        padding: 30px 5px 40px;
    }
    
    .edupath-form p {
        font-size: 1.3em;
    }
    
    header img {
        width: 120px;
        top: 8px;
    }
    
    .edupath-table {
        margin: 10px;
    } 
    
    .final-right h3 {
        line-height: 1.2;
    }
    
}

@media only screen and (max-width: 1024px){
    
    .top-section-content {
        height: 150px;
    }
    
    .img-phone {
        height: 50px;
        padding: 2px;
    }
    .img-clock {
        width: 80px;
    }
    
    .img-man {
        width: 80px;
    }
    
    .middle-section-content {
        width: 45%;
    }
    
    .tablet-img {
        width: 40%;
        margin: 100px 0;
    }
    
    .real-helping-content {
        width: 45%;
        margin: 30px 0;
    }
    
    .video-img {
        width: 40%;
    }
    
}

@media only screen and (max-width: 960px){
    
    header h3 {
        left: 200px;
    }
    
    .small_img {
        padding: 0 10px;
        margin-left: 5%;
    }
    
    .final-form {
        width: 100%;
    }
    
    .final-form input,
    .final-form select,
    .final-form button {
        float: left;
        margin-top: 2%;
        margin-right: 2%;
    }
    
    .final-form input[type="text"],
    .final-form input[type="email"],
    .final-form input[type="tel"]{  
        width: 48%;
    }
    
    .final-form select,
    .final-form button {
        width: 23%;
    }
}

@media only screen and (max-width: 824px){
    
    header h3 {
        display: none;
    }
    
    .iphone-img{
        width: 250px;
    }
    
}

@media only screen and (max-width: 768px){
    body {
        font-size: 18px;
    }
    
    h3 {
        font-size: 1.1em;
    }
    
    button[type="button"] {
        top: 8px;
        right: 30px;
    }
    
    .bg {
        background-position: 0px 0px !important;
        background-attachment: scroll !important;
        background-size: cover;
    }
    
    .top-bgimg {
        padding-top: 100px;
    }
    
    .top-bgimg h1 {
        font-size: 2em;
        padding-bottom: 20px;
    }
    
    .top-bgimg h3 {
        display: none;
    }
    
    .overlay-form {
        width: auto;
        left: 10px;
        right: 10px;
        left: 10px;
        margin-left: 0;
        
    }
    
    .edupath-form {
        width: 80%;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 12px
    }
    
    .edupath-form p {
        font-size: 1em;
    }
    
    .edupath-form input,
    .edupath-form select,
    .edupath-form button,
    .overlay-form input,
    .overlay-form select,
    .overlay-form button {
        float: left;
        margin-top: 2%;
        margin-right: 2%;
    }
    
    .edupath-form select,
    .edupath-form button,
    .overlay-form select,
    .overlay-form button {
        width: 23%;
    }

    .edupath-form input[type="text"],
    .edupath-form input[type="email"],
    .edupath-form input[type="tel"],
    .overlay-form input[type="text"],
    .overlay-form input[type="email"],
    .overlay-form input[type="tel"] {
        width: 48%;
    }
    
    
    article h1 {
        line-height: 1.2;
    }
    
    .col {
        width: 100%;
        margin: 10px 0;
    }
    
    .iphone-img {
        display: none;
    }
    
    .tablet-img {
        display: none;
    }
    
    .video-img {
        display: none;
    }
    
    .small_img {
        display: none;
    }
    
    .journey-content {
        width: 100%;
        margin: 10px;
    }
    
    .middle-section-content {
        width: 100%;
        margin: 10px;
        padding: 0;
    }
    
    .seal {
        width: auto;
        padding-right: 20px;
    }
    
    .quote p {
        font-size: 1.2em;
    }
    
    .real-helping-content {
        width: 100%;
        float: none;
        margin: 10px;
    }
    
    .edupath-table {
        width: 100%;
        float: none;
    }
    
    .final-right {
        width: 100%;
        float: none;
        margin: 20px 0;
    }
    
    .final-form {
        padding-left: 5px; 
    }
    

    
}

@media only screen and (max-width: 560px) {
    .logo {
        left: 0;
    }
    
    button[type="button"] {
        right: 0;
    }
}

@media only screen and (max-width: 480px) {
    .logo {
        left: 50%;
        margin-left: -75px;
    }
    
    #header-button {
        display: none;
    }
    
    .edupath-form {
        width: auto;
    }
    
    .edupath-form button {
        float: none;
    }
}

